<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">        
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="{{ tags }}">
        <meta name="author" content="{{ author }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ base_url }}/static/style.css">
        {% for additional_style in additional_styles %}
        <link rel="stylesheet" href="{{ base_url }}/static/{{ additional_style }}">
        {% endfor %}
        {% for local_style in local_styles %}
        <link rel="stylesheet" href="{{ local_style }} ">
        {% endfor %}
        <link rel="icon" href="{{ base_url }}/static/favicon.png">
    </head>
    <body>
        <header>
            {% block header %}<h1>{{ website_name }}</h1>{% endblock %}            
        </header>
        <nav class="menu">
            <a {% if page_category == "Home" %} class="active" {% endif %} href="{{ base_url }}">Home</a>
            {% for category in categories %}
            <a {% if page_category == category %} class="active" {% endif %} href="{{ base_url }}/{{ category.lower() }}">{{ category }}</a>
            {% endfor %}
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <nav class="back_forward_nav">
            {% block back_forward_nav %}
            <a class="nav_button_disabled" href="{{ base_url }}">Previous</a>
            <a class="nav_button_disabled" href="{{ base_url }}">Next</a>
            {% endblock %}     
        </nav>
        <footer>
            &copy; {{ copyright }}.
        </footer>
    </body>
</html>