{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
    <a href="{{ post.url }}">
        <section>
            <div>
                {% if post.main_image %}
                <img src="{{ post.url }}/{{ post.main_image }}" alt="{{ post.title }}">
                {% else %}
                <img src="static/default_image.svg" alt="{{ post.title }}">
                {% endif %}
            </div>
            <div>
                <h2>{{ post.title }}</h2>
                <p>{{ post.description }}</p>
            </div>
        </section>
    </a>
    {% endfor %}
{% endblock %}

{% block back_forward_nav %}

    {% if previous_page %}
        <a href="{{ previous_page }}">Previous</a>
    {% else %}
        <a class="nav_button_disabled" href="#">Previous</a>
    {% endif %}
    {% if next_page %}
        <a href="{{ next_page }}">Next</a>
    {% else %}
        <a class="nav_button_disabled" href="#">Next</a>
    {% endif %}

{% endblock %}  